In [1]:
import pandas as pd
import os
import pandas as pd
import numpy as np
from typing import Dict
import pandas as pd
from datetime import datetime, timedelta
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sqlalchemy import create_engine
import kagglehub

c:\Users\PC\Datawarehouse\Transform\ETL_env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [129]:


# 1. ƒê·ªãnh nghƒ©a T√™n Dataset
# Thay th·∫ø b·∫±ng ƒë·ªãnh danh ch√≠nh x√°c c·ªßa b·ªô d·ªØ li·ªáu b·∫°n ƒë√£ xem tr√™n Kaggle
DATASET_REF = "nosbielcs/brazilian-delivery-center" 

# 2. G·ªçi API ƒë·ªÉ T·∫£i v√† Gi·∫£i n√©n Dataset
# H√†m n√†y s·∫Ω t·∫£i file zip, t·ª± ƒë·ªông gi·∫£i n√©n v√† tr·∫£ v·ªÅ ƒë∆∞·ªùng d·∫´n t·ªõi th∆∞ m·ª•c
print(f"B·∫Øt ƒë·∫ßu t·∫£i dataset: {DATASET_REF}")
try:
    # 'path' l√† ƒë∆∞·ªùng d·∫´n c·ª•c b·ªô t·ªõi th∆∞ m·ª•c ch·ª©a c√°c file .csv ƒë√£ gi·∫£i n√©n
    download_path = kagglehub.dataset_download(DATASET_REF)
    
    # C·∫≠p nh·∫≠t folder_path t·ªõi n∆°i KaggleHub ƒë√£ t·∫£i dataset
    # Ta s·ª≠ d·ª•ng ƒë∆∞·ªùng d·∫´n n√†y thay cho ƒë∆∞·ªùng d·∫´n 'C:\Users\PC\Datawarehouse\Raw'
    folder_path = download_path

    print(f"T·∫£i v√† gi·∫£i n√©n th√†nh c√¥ng. ƒê∆∞·ªùng d·∫´n file: {folder_path}")

except Exception as e:
    print(f"L·ªñI khi t·∫£i d·ªØ li·ªáu t·ª´ Kaggle API: {e}")
    # N·∫øu API l·ªói, b·∫°n c√≥ th·ªÉ c√¢n nh·∫Øc fallback v·ªÅ ƒë∆∞·ªùng d·∫´n th·ªß c√¥ng n·∫øu c·∫ßn
    folder_path = r"C:\Users\PC\Datawarehouse\Raw"
    print(f"S·ª≠ d·ª•ng ƒë∆∞·ªùng d·∫´n c·ª•c b·ªô d·ª± ph√≤ng: {folder_path}")

B·∫Øt ƒë·∫ßu t·∫£i dataset: nosbielcs/brazilian-delivery-center
Downloading from https://www.kaggle.com/api/v1/datasets/download/nosbielcs/brazilian-delivery-center?dataset_version_number=2...

 33%|‚ñà‚ñà‚ñà‚ñé      | 9.00M/27.7M [00:03<00:08, 2.39MB/s]

KeyboardInterrupt:

In [2]:
folder_path = r"C:\Users\PC\Datawarehouse\Raw"

In [3]:
# Danh s√°ch t√™n c√°c t·ªáp (ch√∫ng ta s·∫Ω gi·∫£ ƒë·ªãnh t·ªáp c√≥ ƒëu√¥i .csv)
file_names = ["channels", "deliveries", "drivers", "hubs", "orders", "payments", "stores"]
dataframes = {}

print("B·∫Øt ƒë·∫ßu ƒë·ªçc c√°c t·ªáp CSV v√† x·ª≠ l√Ω l·ªói Encoding...")

for file_name in file_names:
    # Thay ƒë·ªïi ƒëu√¥i t·ªáp t·ª´ .xlsx sang .csv
    full_path = os.path.join(folder_path, f"{file_name}.csv")
    
    # üí° THAM S·ªê QUAN TR·ªåNG: encoding
    encoding_to_use = 'utf-8'
    
    # √Åp d·ª•ng encoding 'latin-1' (ho·∫∑c 'iso-8859-1') cho c√°c t·ªáp b·ªã l·ªói (hubs, stores)
    if file_name in ["hubs", "stores"]:
        encoding_to_use = 'latin-1'
    
    try:
        # S·ª≠ d·ª•ng pd.read_csv() v√† √°p d·ª•ng encoding ƒë√£ ch·ªçn
        df = pd.read_csv(full_path, encoding=encoding_to_use)
        dataframes[file_name] = df
        print(f"‚úÖ ƒê√£ ƒë·ªçc th√†nh c√¥ng t·ªáp: **{file_name}.csv** ({len(df)} h√†ng) v·ªõi encoding **{encoding_to_use}**")
        
    except FileNotFoundError:
        print(f"‚ùå L·ªói: Kh√¥ng t√¨m th·∫•y t·ªáp t·∫°i ƒë∆∞·ªùng d·∫´n: {full_path}")
    except Exception as e:
        # N·∫øu Latin-1 v·∫´n kh√¥ng ƒë∆∞·ª£c, th·ª≠ Windows-1252
        if encoding_to_use == 'latin-1':
            try:
                df = pd.read_csv(full_path, encoding='windows-1252')
                dataframes[file_name] = df
                print(f"‚úÖ ƒê√£ ƒë·ªçc th√†nh c√¥ng t·ªáp: **{file_name}.csv** ({len(df)} h√†ng) v·ªõi encoding **windows-1252**")
            except Exception as e_w:
                print(f"‚ùå L·ªói ƒë·ªçc t·ªáp **{file_name}** v·ªõi Windows-1252: {e_w}")
        else:
            print(f"‚ùå L·ªói ƒë·ªçc t·ªáp **{file_name}** v·ªõi {encoding_to_use}: {e}")

print("\nHo√†n th√†nh qu√° tr√¨nh import.")

B·∫Øt ƒë·∫ßu ƒë·ªçc c√°c t·ªáp CSV v√† x·ª≠ l√Ω l·ªói Encoding...
‚úÖ ƒê√£ ƒë·ªçc th√†nh c√¥ng t·ªáp: **channels.csv** (40 h√†ng) v·ªõi encoding **utf-8**
‚úÖ ƒê√£ ƒë·ªçc th√†nh c√¥ng t·ªáp: **deliveries.csv** (378843 h√†ng) v·ªõi encoding **utf-8**
‚úÖ ƒê√£ ƒë·ªçc th√†nh c√¥ng t·ªáp: **drivers.csv** (4824 h√†ng) v·ªõi encoding **utf-8**
‚úÖ ƒê√£ ƒë·ªçc th√†nh c√¥ng t·ªáp: **hubs.csv** (32 h√†ng) v·ªõi encoding **latin-1**
‚úÖ ƒê√£ ƒë·ªçc th√†nh c√¥ng t·ªáp: **orders.csv** (368999 h√†ng) v·ªõi encoding **utf-8**
‚úÖ ƒê√£ ƒë·ªçc th√†nh c√¥ng t·ªáp: **payments.csv** (400834 h√†ng) v·ªõi encoding **utf-8**
‚úÖ ƒê√£ ƒë·ªçc th√†nh c√¥ng t·ªáp: **stores.csv** (951 h√†ng) v·ªõi encoding **latin-1**

Ho√†n th√†nh qu√° tr√¨nh import.

In [4]:
data_orders = dataframes['orders']
data_payments = dataframes['payments']
data_channels = dataframes['channels']
data_deliveries = dataframes['deliveries']
data_drivers = dataframes['drivers']
data_hubs = dataframes['hubs']
data_stores = dataframes['stores']

In [43]:
def remove_duplicates(dataframes_dict):
    """Ki·ªÉm tra v√† lo·∫°i b·ªè c√°c h√†ng tr√πng l·∫∑p trong t·∫•t c·∫£ c√°c DataFrame."""
    print("\n--- B·∫Øt ƒë·∫ßu ki·ªÉm tra v√† lo·∫°i b·ªè b·∫£n ghi tr√πng l·∫∑p ---")
    
    cleaned_dataframes = {}

    for name, df in dataframes_dict.items():
        initial_rows = len(df)
        duplicate_count = df.duplicated().sum()

        if duplicate_count > 0:
            df_cleaned = df.drop_duplicates(keep='first', inplace=False)
            deleted_rows = initial_rows - len(df_cleaned)
            
            print(f"B·∫£ng **{name}**: ƒê√£ t√¨m th·∫•y v√† x√≥a **{deleted_rows}** b·∫£n ghi tr√πng l·∫∑p.")
            cleaned_dataframes[name] = df_cleaned
        else:
            print(f"B·∫£ng **{name}**: Kh√¥ng c√≥ b·∫£n ghi tr√πng l·∫∑p. ({initial_rows} h√†ng)")
            cleaned_dataframes[name] = df
            
    print("--- Ho√†n th√†nh x·ª≠ l√Ω tr√πng l·∫∑p ---")
    return cleaned_dataframes

In [44]:
# Gi·∫£ s·ª≠ ƒë√¢y l√† dictionary ch·ª©a t·∫•t c·∫£ c√°c DataFrame c·ªßa b·∫°n sau khi import
# dataframes = {'channels': df_channels, 'deliveries': df_deliveries, 'hubs': df_hubs, ...}

# TH·ª∞C THI H√ÄM: √Åp d·ª•ng vi·ªác x√≥a tr√πng l·∫∑p cho T·∫§T C·∫¢ c√°c b·∫£ng
print("\nüî• B·∫ÆT ƒê·∫¶U GIAI ƒêO·∫†N TRANSFORM: X·ª≠ l√Ω Tr√πng l·∫∑p")
dataframes = remove_duplicates(dataframes)

print("\nKi·ªÉm tra nhanh k·∫øt qu·∫£:")
print(f"S·ªë l∆∞·ª£ng b·∫£ng ƒë√£ ƒë∆∞·ª£c x·ª≠ l√Ω: {len(dataframes)}")

üî• B·∫ÆT ƒê·∫¶U GIAI ƒêO·∫†N TRANSFORM: X·ª≠ l√Ω Tr√πng l·∫∑p

--- B·∫Øt ƒë·∫ßu ki·ªÉm tra v√† lo·∫°i b·ªè b·∫£n ghi tr√πng l·∫∑p ---
B·∫£ng **channels**: Kh√¥ng c√≥ b·∫£n ghi tr√πng l·∫∑p. (40 h√†ng)
B·∫£ng **deliveries**: Kh√¥ng c√≥ b·∫£n ghi tr√πng l·∫∑p. (378843 h√†ng)
B·∫£ng **drivers**: Kh√¥ng c√≥ b·∫£n ghi tr√πng l·∫∑p. (4824 h√†ng)
B·∫£ng **hubs**: Kh√¥ng c√≥ b·∫£n ghi tr√πng l·∫∑p. (32 h√†ng)
B·∫£ng **orders**: Kh√¥ng c√≥ b·∫£n ghi tr√πng l·∫∑p. (368999 h√†ng)
B·∫£ng **payments**: Kh√¥ng c√≥ b·∫£n ghi tr√πng l·∫∑p. (400834 h√†ng)
B·∫£ng **stores**: Kh√¥ng c√≥ b·∫£n ghi tr√πng l·∫∑p. (951 h√†ng)
--- Ho√†n th√†nh x·ª≠ l√Ω tr√πng l·∫∑p ---

Ki·ªÉm tra nhanh k·∫øt qu·∫£:
S·ªë l∆∞·ª£ng b·∫£ng ƒë√£ ƒë∆∞·ª£c x·ª≠ l√Ω: 7

## X·ª≠ l√Ω b·∫£ng Orders

In [5]:
data_orders.head(10)

,order_id,store_id,channel_id,payment_order_id,delivery_order_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,...,order_moment_delivering,order_moment_delivered,order_moment_finished,order_metric_collected_time,order_metric_paused_time,order_metric_production_time,order_metric_walking_time,order_metric_expediton_speed_time,order_metric_transit_time,order_metric_cycle_time
0,68405119,3512,5,68405119,68405119,CANCELED,62.7,0.00,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68405123,3512,5,68405123,68405123,CANCELED,62.7,0.00,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68405206,3512,5,68405206,68405206,CANCELED,115.5,0.00,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,68405465,3401,5,68405465,68405465,CANCELED,55.9,0.00,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68406064,3401,5,68406064,68406064,CANCELED,37.9,0.00,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,68408108,786,5,68408108,68408108,CANCELED,80.0,9.90,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,68408109,1125,5,68408109,68408109,CANCELED,71.0,9.90,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,68409030,1064,35,68409030,68409030,CANCELED,214.8,0.01,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,68410055,2181,35,68410055,68410055,FINISHED,394.8,0.01,6.0,2,...,1/2/2021 6:35:49 PM,NaN,1/2/2021 6:57:34 PM,6.63,4.55,2391.25,7.17,11.72,21.75,2424.72
9,68412121,1152,5,68412121,68412121,CANCELED,25.5,9.90,NaN,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368999 entries, 0 to 368998
Data columns (total 29 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   order_id                           368999 non-null  int64
 1   store_id                           368999 non-null  int64
 2   channel_id                         368999 non-null  int64
 3   payment_order_id                   368999 non-null  int64
 4   delivery_order_id                  368999 non-null  int64
 5   order_status                       368999 non-null  object
 6   order_amount                       368999 non-null  float64
 7   order_delivery_fee                 368999 non-null  float64
 8   order_delivery_cost                361794 non-null  float64
 9   order_created_hour                 368999 non-null  int64
 10  order_created_minute               368999 non-null  int64
 11  order_created_day                  368999 non-null  int64
 12  order_created_month                368999 non-null  int64
 13  order_created_year                 368999 non-null  int64
 14  order_moment_created               368999 non-null  object
 15  order_moment_accepted              359538 non-null  object
 16  order_moment_ready                 343893 non-null  object
 17  order_moment_collected             326105 non-null  object
 18  order_moment_in_expedition         301570 non-null  object
 19  order_moment_delivering            343683 non-null  object
 20  order_moment_delivered             19601 non-null   object
 21  order_moment_finished              353400 non-null  object
 22  order_metric_collected_time        317507 non-null  float64
 23  order_metric_paused_time           297594 non-null  float64
 24  order_metric_production_time       343892 non-null  float64
 25  order_metric_walking_time          294943 non-null  float64
 26  order_metric_expediton_speed_time  334417 non-null  float64
 27  order_metric_transit_time          343142 non-null  float64
 28  order_metric_cycle_time            353380 non-null  float64
dtypes: float64(10), int64(10), object(9)
memory usage: 81.6+ MB

In [7]:
data_orders.isnull().sum().sort_values(ascending=False)

order_moment_delivered               349398
order_metric_walking_time             74056
order_metric_paused_time              71405
order_moment_in_expedition            67429
order_metric_collected_time           51492
order_moment_collected                42894
order_metric_expediton_speed_time     34582
order_metric_transit_time             25857
order_moment_delivering               25316
order_metric_production_time          25107
order_moment_ready                    25106
order_metric_cycle_time               15619
order_moment_finished                 15599
order_moment_accepted                  9461
order_delivery_cost                    7205
order_created_minute                      0
order_created_hour                        0
order_created_month                       0
order_created_day                         0
order_status                              0
delivery_order_id                         0
order_id                                  0
payment_order_id                          0
channel_id                                0
store_id                                  0
order_delivery_fee                        0
order_amount                              0
order_moment_created                      0
order_created_year                        0
dtype: int64

In [48]:
missing_data = data_orders.isnull().sum()
percent_missing = (missing_data / len(data_orders)) * 100
percent_missing = percent_missing[percent_missing > 0].sort_values(ascending=False)
print("---- T·ªâ l·ªá d·ªØ li·ªáu thi·∫øu trong b·∫£ng orders ----")
percent_missing

---- T·ªâ l·ªá d·ªØ li·ªáu thi·∫øu trong b·∫£ng orders ----

order_moment_delivered               94.688061
order_metric_walking_time            20.069431
order_metric_paused_time             19.351001
order_moment_in_expedition           18.273491
order_metric_collected_time          13.954509
order_moment_collected               11.624422
order_metric_expediton_speed_time     9.371841
order_metric_transit_time             7.007336
order_moment_delivering               6.860723
order_metric_production_time          6.804083
order_moment_ready                    6.803812
order_metric_cycle_time               4.232803
order_moment_finished                 4.227383
order_moment_accepted                 2.563964
order_delivery_cost                   1.952580
dtype: float64

- X√≥a c·ªôt kh√¥ng c·∫ßn thi·∫øt
  - X√≥a c·ªôt `order_momment_dilivered` do c·ªôt c√≥ t·ªõi 90% d·ªØ li·ªáu thi·∫øu > kh√¥ng c√≥ √Ω nghƒ©a trong kinh doanh

In [8]:
data_orders.drop(columns=['order_moment_delivered','delivery_order_id','payment_order_id'], inplace=True)

* ƒê·ªãnh d·∫°ng l·∫°i d·ªØ li·ªáu

In [9]:

data_orders['order_moment_created'] = pd.to_datetime(data_orders['order_moment_created'],format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
data_orders['order_moment_accepted'] = pd.to_datetime(data_orders['order_moment_accepted'],format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
data_orders['order_moment_finished'] = pd.to_datetime(data_orders['order_moment_finished'],format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
data_orders['order_moment_ready'] = pd.to_datetime(data_orders['order_moment_ready'],format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
data_orders['order_moment_collected'] = pd.to_datetime(data_orders['order_moment_collected'],format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
data_orders['order_moment_delivering'] = pd.to_datetime(data_orders['order_moment_delivering'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
data_orders['order_moment_in_expedition'] = pd.to_datetime(data_orders['order_moment_in_expedition'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')

In [10]:
data_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368999 entries, 0 to 368998
Data columns (total 26 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   order_id                           368999 non-null  int64
 1   store_id                           368999 non-null  int64
 2   channel_id                         368999 non-null  int64
 3   order_status                       368999 non-null  object
 4   order_amount                       368999 non-null  float64
 5   order_delivery_fee                 368999 non-null  float64
 6   order_delivery_cost                361794 non-null  float64
 7   order_created_hour                 368999 non-null  int64
 8   order_created_minute               368999 non-null  int64
 9   order_created_day                  368999 non-null  int64
 10  order_created_month                368999 non-null  int64
 11  order_created_year                 368999 non-null  int64
 12  order_moment_created               368999 non-null  datetime64[ns]
 13  order_moment_accepted              359538 non-null  datetime64[ns]
 14  order_moment_ready                 343893 non-null  datetime64[ns]
 15  order_moment_collected             326105 non-null  datetime64[ns]
 16  order_moment_in_expedition         301570 non-null  datetime64[ns]
 17  order_moment_delivering            343683 non-null  datetime64[ns]
 18  order_moment_finished              353400 non-null  datetime64[ns]
 19  order_metric_collected_time        317507 non-null  float64
 20  order_metric_paused_time           297594 non-null  float64
 21  order_metric_production_time       343892 non-null  float64
 22  order_metric_walking_time          294943 non-null  float64
 23  order_metric_expediton_speed_time  334417 non-null  float64
 24  order_metric_transit_time          343142 non-null  float64
 25  order_metric_cycle_time            353380 non-null  float64
dtypes: datetime64[ns](7), float64(10), int64(8), object(1)
memory usage: 73.2+ MB

* Th√™m m·ªôt c·ªôt ch·ªâ d·∫´n xem ƒë∆°n h√†ng c√≥ ƒë∆∞·ª£c ho√†n th√†nh kh√¥ng

In [11]:
data_orders['is_finished'] = data_orders['order_status'].apply(lambda x: 1 if x == 'FINISHED' else 0)

In [12]:
data_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368999 entries, 0 to 368998
Data columns (total 27 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   order_id                           368999 non-null  int64
 1   store_id                           368999 non-null  int64
 2   channel_id                         368999 non-null  int64
 3   order_status                       368999 non-null  object
 4   order_amount                       368999 non-null  float64
 5   order_delivery_fee                 368999 non-null  float64
 6   order_delivery_cost                361794 non-null  float64
 7   order_created_hour                 368999 non-null  int64
 8   order_created_minute               368999 non-null  int64
 9   order_created_day                  368999 non-null  int64
 10  order_created_month                368999 non-null  int64
 11  order_created_year                 368999 non-null  int64
 12  order_moment_created               368999 non-null  datetime64[ns]
 13  order_moment_accepted              359538 non-null  datetime64[ns]
 14  order_moment_ready                 343893 non-null  datetime64[ns]
 15  order_moment_collected             326105 non-null  datetime64[ns]
 16  order_moment_in_expedition         301570 non-null  datetime64[ns]
 17  order_moment_delivering            343683 non-null  datetime64[ns]
 18  order_moment_finished              353400 non-null  datetime64[ns]
 19  order_metric_collected_time        317507 non-null  float64
 20  order_metric_paused_time           297594 non-null  float64
 21  order_metric_production_time       343892 non-null  float64
 22  order_metric_walking_time          294943 non-null  float64
 23  order_metric_expediton_speed_time  334417 non-null  float64
 24  order_metric_transit_time          343142 non-null  float64
 25  order_metric_cycle_time            353380 non-null  float64
 26  is_finished                        368999 non-null  int64
dtypes: datetime64[ns](7), float64(10), int64(9), object(1)
memory usage: 76.0+ MB

* Th·ª±c hi·ªán ki·ªÉm tra ph√¢n t√≠ch ƒë·ªëi v·ªõi ƒë∆°n h√†ng ƒë√£ ho√†n th√†nh

In [13]:
data_orders_finished = data_orders[data_orders['is_finished'] == 1]

In [14]:
data_orders[['order_id','store_id','channel_id','order_status','order_amount']].head(10)

   order_id  store_id  channel_id order_status  order_amount
0  68405119      3512           5     CANCELED          62.7
1  68405123      3512           5     CANCELED          62.7
2  68405206      3512           5     CANCELED         115.5
3  68405465      3401           5     CANCELED          55.9
4  68406064      3401           5     CANCELED          37.9
5  68408108       786           5     CANCELED          80.0
6  68408109      1125           5     CANCELED          71.0
7  68409030      1064          35     CANCELED         214.8
8  68410055      2181          35     FINISHED         394.8
9  68412121      1152           5     CANCELED          25.5

* Ki·ªÉm tra NULL

In [15]:
data_orders_finished.isnull().sum()

order_id                                 0
store_id                                 0
channel_id                               0
order_status                             0
order_amount                             0
order_delivery_fee                       0
order_delivery_cost                   6000
order_created_hour                       0
order_created_minute                     0
order_created_day                        0
order_created_month                      0
order_created_year                       0
order_moment_created                     0
order_moment_accepted                 1368
order_moment_ready                   11043
order_moment_collected               27764
order_moment_in_expedition           52121
order_moment_delivering               9654
order_moment_finished                    3
order_metric_collected_time          36232
order_metric_paused_time             55531
order_metric_production_time         11044
order_metric_walking_time            58671
order_metric_expediton_speed_time    18848
order_metric_transit_time             9838
order_metric_cycle_time                363
is_finished                              0
dtype: int64

In [16]:

missing_values_count = data_orders_finished.isnull().sum()
total_rows = len(data_orders_finished)
missing_percentage = (missing_values_count / total_rows) * 100
print("--- T·ª∑ l·ªá D·ªØ li·ªáu M·∫•t trong b·∫£ng 'orders ( finished )' ---")
print(missing_percentage.sort_values(ascending=False))

--- T·ª∑ l·ªá D·ªØ li·ªáu M·∫•t trong b·∫£ng 'orders ( finished )' ---
order_metric_walking_time            16.666951
order_metric_paused_time             15.774956
order_moment_in_expedition           14.806261
order_metric_collected_time          10.292597
order_moment_collected                7.887052
order_metric_expediton_speed_time     5.354241
order_metric_production_time          3.137322
order_moment_ready                    3.137038
order_metric_transit_time             2.794728
order_moment_delivering               2.742458
order_delivery_cost                   1.704449
order_moment_accepted                 0.388614
order_metric_cycle_time               0.103119
order_moment_finished                 0.000852
order_created_day                     0.000000
order_created_month                   0.000000
order_amount                          0.000000
order_status                          0.000000
channel_id                            0.000000
order_id                              0.000000
store_id                              0.000000
order_created_minute                  0.000000
order_created_hour                    0.000000
order_delivery_fee                    0.000000
order_created_year                    0.000000
order_moment_created                  0.000000
is_finished                           0.000000
dtype: float64

- ƒê·ªëi v·ªõi c√°c tr∆∞·ªùng th·ªùi gian th√¨ s·∫Ω kh√¥ng x·ª≠ l√Ω NULL m√† gi·ªØ nguy√™n n√≥
- ƒê·ªëi v·ªõi tr∆∞·ªùng measure nh∆∞ `order_delivery_cost`, do t·ªâ l·ªá thi·∫øu √≠t, n√™n ta s·∫Ω ƒëi·ªÅn gi√° tr·ªã trung v·ªã

In [17]:
fix_null = data_orders_finished['order_delivery_cost'].median()
data_orders_finished_notfix = data_orders_finished.copy()
data_orders_finished['order_delivery_cost'].fillna(fix_null, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_25700\1923428877.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_orders_finished['order_delivery_cost'].fillna(fix_null, inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_25700\1923428877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_orders_finished['order_delivery_cost'].fillna(fix_null, inplace=True)

In [18]:
data_orders_finished_notfix[['order_id','store_id','channel_id','order_status','order_amount','order_delivery_cost']][data_orders_finished_notfix['order_delivery_cost'].isnull()].head(10)

,order_id,store_id,channel_id,order_status,order_amount,order_delivery_cost
669,68493525,149,5,FINISHED,45.90,NaN
682,68495519,631,5,FINISHED,203.70,NaN
695,68498710,3265,5,FINISHED,24.90,NaN
701,68500865,495,5,FINISHED,126.30,NaN
767,68511483,3091,5,FINISHED,29.90,NaN
798,68516950,274,5,FINISHED,70.80,NaN
960,68538068,493,15,FINISHED,75.80,NaN
976,68539343,493,15,FINISHED,123.75,NaN
1150,68555142,1324,5,FINISHED,42.00,NaN
1540,68623893,1037,5,FINISHED,175.85,NaN

In [19]:
data_orders_finished[['order_id','store_id','channel_id','order_status','order_amount','order_delivery_cost']][data_orders_finished_notfix['order_delivery_cost'].isnull()].head(10)

,order_id,store_id,channel_id,order_status,order_amount,order_delivery_cost
669,68493525,149,5,FINISHED,45.90,7.39
682,68495519,631,5,FINISHED,203.70,7.39
695,68498710,3265,5,FINISHED,24.90,7.39
701,68500865,495,5,FINISHED,126.30,7.39
767,68511483,3091,5,FINISHED,29.90,7.39
798,68516950,274,5,FINISHED,70.80,7.39
960,68538068,493,15,FINISHED,75.80,7.39
976,68539343,493,15,FINISHED,123.75,7.39
1150,68555142,1324,5,FINISHED,42.00,7.39
1540,68623893,1037,5,FINISHED,175.85,7.39

In [20]:
data_orders_finished.isnull().sum()

order_id                                 0
store_id                                 0
channel_id                               0
order_status                             0
order_amount                             0
order_delivery_fee                       0
order_delivery_cost                      0
order_created_hour                       0
order_created_minute                     0
order_created_day                        0
order_created_month                      0
order_created_year                       0
order_moment_created                     0
order_moment_accepted                 1368
order_moment_ready                   11043
order_moment_collected               27764
order_moment_in_expedition           52121
order_moment_delivering               9654
order_moment_finished                    3
order_metric_collected_time          36232
order_metric_paused_time             55531
order_metric_production_time         11044
order_metric_walking_time            58671
order_metric_expediton_speed_time    18848
order_metric_transit_time             9838
order_metric_cycle_time                363
is_finished                              0
dtype: int64

* Th√™m c·ªôt `Cycle_Time_Category` d·ª±a v√†o th·ªùi gian giao h√†ng

In [21]:
# Ki·ªÉm tra c√°c ƒëi·ªÉm ph√¢n v·ªã ƒë·ªÉ x√°c ƒë·ªãnh ng∆∞·ª°ng
print(data_orders_finished['order_metric_cycle_time'].describe(percentiles=[.25, .5, .75, .90]))

count    351657.000000
mean        155.843596
std        1225.229132
min           0.370000
25%          32.870000
50%          42.180000
75%          55.550000
90%          83.170000
max      154277.320000
Name: order_metric_cycle_time, dtype: float64

In [22]:


# 1. Khai b√°o c√°c ng∆∞·ª°ng th·ª±c t·∫ø t·ª´ k·∫øt qu·∫£
P25 = 32.87
P75 = 55.55

# 2. ƒê·ªãnh nghƒ©a c√°c ƒëi·ªÅu ki·ªán
conditions = [
    # 25% nhanh nh·∫•t
    (data_orders_finished['order_metric_cycle_time'] <= 32.87),
    # 50% ·ªü gi·ªØa
    (data_orders_finished['order_metric_cycle_time'] > 32.87) & (data_orders_finished['order_metric_cycle_time'] <= 55.55),
    # X·ª≠ l√Ω gi√° tr·ªã thi·∫øu (NaN)
    (data_orders_finished['order_metric_cycle_time'].isnull())
]

# 3. ƒê·ªãnh nghƒ©a c√°c k·∫øt qu·∫£
choices = ['Fast', 'Medium', 'Missing Data']

# 4. √Åp d·ª•ng ph√¢n lo·∫°i
# Gi√° tr·ªã default s·∫Ω l√† 'Slow' (t·∫•t c·∫£ c√°c gi√° tr·ªã l·ªõn h∆°n P75 v√† kh√¥ng ph·∫£i NaN)
data_orders_finished['Cycle_Time_Category'] = np.select(conditions, choices, default='Slow')

# In k·∫øt qu·∫£ ki·ªÉm tra
print(data_orders_finished['Cycle_Time_Category'].value_counts())

Cycle_Time_Category
Medium          175770
Fast             88024
Slow             87863
Missing Data       363
Name: count, dtype: int64

C:\Users\PC\AppData\Local\Temp\ipykernel_25700\1275661988.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_orders_finished['Cycle_Time_Category'] = np.select(conditions, choices, default='Slow')

In [23]:
data_orders_finished.head(20)

,order_id,store_id,channel_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,order_created_minute,order_created_day,...,order_moment_finished,order_metric_collected_time,order_metric_paused_time,order_metric_production_time,order_metric_walking_time,order_metric_expediton_speed_time,order_metric_transit_time,order_metric_cycle_time,is_finished,Cycle_Time_Category
8,68410055,2181,35,FINISHED,394.80,0.01,6.00,2,32,1,...,2021-01-02 18:57:34,6.63,4.55,2391.25,7.17,11.72,21.75,2424.72,1,Slow
17,68412721,631,5,FINISHED,195.05,11.90,10.93,14,12,1,...,2021-01-01 16:12:36,0.27,10.22,26.07,0.83,11.05,83.30,120.42,1,Slow
18,68413340,631,5,FINISHED,46.90,11.90,11.36,14,14,1,...,2021-01-01 15:31:54,7.03,3.10,14.62,9.57,12.67,49.78,77.05,1,Slow
19,68414018,3265,5,FINISHED,45.80,0.00,10.28,14,17,1,...,2021-01-01 15:09:20,10.22,3.03,27.48,10.25,13.28,11.05,51.82,1,Medium
20,68414309,236,5,FINISHED,94.90,11.90,6.00,14,21,1,...,2021-01-01 14:50:20,2.37,1.45,15.78,5.33,6.78,6.73,29.30,1,Fast
21,68414512,631,5,FINISHED,45.90,11.90,11.63,14,24,1,...,2021-01-01 15:49:47,0.08,39.75,22.10,0.10,39.85,23.82,85.77,1,Slow
22,68414563,955,5,FINISHED,26.90,0.00,6.00,14,24,1,...,2021-01-01 15:30:56,1.23,NaN,39.03,NaN,5.92,21.55,66.50,1,Slow
24,68415103,631,5,FINISHED,103.60,11.90,6.33,14,31,1,...,2021-01-01 15:38:55,0.42,3.93,24.82,0.45,4.38,38.17,67.37,1,Slow
25,68415140,631,5,FINISHED,187.40,11.90,3.72,14,31,1,...,2021-01-01 16:06:40,1.57,4.18,30.93,2.52,6.70,57.17,94.82,1,Slow
26,68415344,631,5,FINISHED,83.40,11.90,11.32,14,33,1,...,2021-01-01 16:18:52,0.52,28.83,22.88,0.53,29.38,53.08,105.35,1,Slow
27,68415457,631,5,FINISHED,136.80,11.90,3.72,14,34,1,...,2021-01-01 15:23:34,5.67,4.08,24.43,6.62,10.70,14.22,49.35,1,Medium
28,68415474,631,5,FINISHED,158.30,11.90,10.35,14,34,1,...,2021-01-01 15:59:50,1.53,20.52,28.02,2.47,22.98,33.95,84.97,1,Slow
29,68415543,3528,5,FINISHED,21.90,3.00,9.99,14,35,1,...,2021-01-01 16:27:37,0.55,NaN,86.22,NaN,8.03,17.50,111.75,1,Slow
30,68415947,3265,5,FINISHED,25.90,0.00,12.08,14,37,1,...,2021-01-01 15:36:01,1.55,3.90,32.73,1.58,5.48,20.12,58.33,1,Slow
31,68416059,631,5,FINISHED,163.30,11.90,3.72,14,38,1,...,2021-01-01 15:32:28,5.75,1.02,28.77,5.78,6.80,18.72,54.28,1,Medium
32,68416226,3265,5,FINISHED,31.40,0.00,8.61,14,40,1,...,2021-01-01 15:31:49,2.43,0.40,33.17,2.47,2.87,15.77,51.80,1,Medium
33,68416227,3265,5,FINISHED,25.90,0.00,11.80,14,40,1,...,2021-01-01 15:31:49,3.12,2.15,35.27,3.13,5.28,11.07,51.63,1,Medium
34,68416230,1016,5,FINISHED,39.80,6.99,9.75,14,40,1,...,2021-01-01 14:57:36,1.57,0.93,4.20,2.27,3.20,9.52,16.92,1,Fast
36,68416397,3265,5,FINISHED,29.00,0.00,10.51,14,44,1,...,2021-01-01 15:43:13,3.15,3.20,31.30,3.18,6.38,21.33,59.03,1,Slow
37,68416643,955,5,FINISHED,46.80,0.00,8.54,14,46,1,...,2021-01-01 15:23:35,1.10,NaN,17.02,NaN,4.38,15.55,36.95,1,Medium

* T·∫°o th√™m tr∆∞·ªùng `day_of_week_created`

In [24]:
#T·∫°o c·ªôt ng√†y trong tu·∫ßn t·ª´ c·ªôt order_moment_created
data_orders['day_of_week_created'] = data_orders['order_moment_created'].dt.day_name()

* T·∫°o th√™m `time_band` x√°c ƒë·ªãnh xem kh√°ch h√†ng mua h√†ng v√†o th·ªùi ƒëi·ªÉm n√†o trong ng√†y

In [25]:


def get_time_band(hour):
    """
    Ph√¢n lo·∫°i gi·ªù ƒë·∫∑t h√†ng th√†nh Morning, Afternoon, ho·∫∑c Night.
    """
    if 6 <= hour < 12:
        return 'Morning'    # 6:00 ƒë·∫øn 11:59
    elif 12 <= hour < 18:
        return 'Afternoon'  # 12:00 ƒë·∫øn 17:59
    else:
        return 'Night'      # 18:00 ƒë·∫øn 5:59
        
# √Åp d·ª•ng h√†m l√™n c·ªôt 'order_created_hour' ƒë·ªÉ t·∫°o c·ªôt m·ªõi 'time_band_created'
data_orders['time_band_created'] = data_orders['order_created_hour'].apply(get_time_band)

# Hi·ªÉn th·ªã k·∫øt qu·∫£ (ch·ªâ hi·ªán c√°c c·ªôt li√™n quan ƒë·ªÉ ki·ªÉm tra)
print(data_orders[['order_created_hour', 'time_band_created']].head(10))

   order_created_hour time_band_created
0                   0             Night
1                   0             Night
2                   0             Night
3                   0             Night
4                   0             Night
5                   0             Night
6                   0             Night
7                   1             Night
8                   2             Night
9                  13         Afternoon

In [26]:
data_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368999 entries, 0 to 368998
Data columns (total 29 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   order_id                           368999 non-null  int64
 1   store_id                           368999 non-null  int64
 2   channel_id                         368999 non-null  int64
 3   order_status                       368999 non-null  object
 4   order_amount                       368999 non-null  float64
 5   order_delivery_fee                 368999 non-null  float64
 6   order_delivery_cost                361794 non-null  float64
 7   order_created_hour                 368999 non-null  int64
 8   order_created_minute               368999 non-null  int64
 9   order_created_day                  368999 non-null  int64
 10  order_created_month                368999 non-null  int64
 11  order_created_year                 368999 non-null  int64
 12  order_moment_created               368999 non-null  datetime64[ns]
 13  order_moment_accepted              359538 non-null  datetime64[ns]
 14  order_moment_ready                 343893 non-null  datetime64[ns]
 15  order_moment_collected             326105 non-null  datetime64[ns]
 16  order_moment_in_expedition         301570 non-null  datetime64[ns]
 17  order_moment_delivering            343683 non-null  datetime64[ns]
 18  order_moment_finished              353400 non-null  datetime64[ns]
 19  order_metric_collected_time        317507 non-null  float64
 20  order_metric_paused_time           297594 non-null  float64
 21  order_metric_production_time       343892 non-null  float64
 22  order_metric_walking_time          294943 non-null  float64
 23  order_metric_expediton_speed_time  334417 non-null  float64
 24  order_metric_transit_time          343142 non-null  float64
 25  order_metric_cycle_time            353380 non-null  float64
 26  is_finished                        368999 non-null  int64
 27  day_of_week_created                368999 non-null  object
 28  time_band_created                  368999 non-null  object
dtypes: datetime64[ns](7), float64(10), int64(9), object(3)
memory usage: 81.6+ MB

* C·∫≠p nh·∫≠t b·∫£ng `orders` g·ªëc

In [27]:

# Gi·∫£ s·ª≠ DataFrame g·ªëc c·ªßa b·∫°n l√† data_orders
P25 = 32.87 # (V√≠ d·ª•)
P75 = 55.55 # (V√≠ d·ª•)

# 1. T·∫†O C·ªòT M·ªöI V√Ä T√çNH TO√ÅN TR·ª∞C TI·∫æP TR√äN DF G·ªêC
# T·∫°o ƒëi·ªÅu ki·ªán ch·ªâ t√≠nh to√°n cho c√°c ƒë∆°n h√†ng ƒë√£ HO√ÄN TH√ÄNH
conditions = [
    (data_orders['is_finished'] == 1) & (data_orders['order_metric_cycle_time'] <= P25),
    (data_orders['is_finished'] == 1) & (data_orders['order_metric_cycle_time'] > P25) & (data_orders['order_metric_cycle_time'] <= P75),
    (data_orders['is_finished'] == 1) & (data_orders['order_metric_cycle_time'] > P75)
]
choices = ['Fast', 'Medium', 'Slow']

# G√°n gi√° tr·ªã: Default='Ch·∫≠m' (cho ƒë∆°n Finished > P75) ho·∫∑c NaN (cho ƒë∆°n ch∆∞a Finished)
# ƒê·∫∑t gi√° tr·ªã m·∫∑c ƒë·ªãnh ban ƒë·∫ßu l√† 'Missing Data' ho·∫∑c 'NaN'
data_orders['Cycle_Time_Category'] = np.select(conditions, choices, default='Slow')

# 2. X·ª¨ L√ù C√ÅC ƒê∆†N H√ÄNG CH∆ØA HO√ÄN TH√ÄNH (is_finished == 0)
# X√°c ƒë·ªãnh ƒëi·ªÅu ki·ªán cho c√°c ƒë∆°n h√†ng ch∆∞a ho√†n th√†nh/b·ªã h·ªßy
unfinished_condition = data_orders['is_finished'] == 0

# G√°n gi√° tr·ªã 'Not Applicable' cho c√°c ƒë∆°n ch∆∞a ho√†n th√†nh
data_orders.loc[unfinished_condition, 'Cycle_Time_Category'] = 'Not Applicable'

# 3. X·ª¨ L√ù D·ªÆ LI·ªÜU THI·∫æU C√íN L·∫†I (N·∫øu Cycle Time l√† NaN trong ƒë∆°n Finished)
# ƒêi·ªÅu ki·ªán: ƒê∆°n ƒë√£ finished V√Ä Cycle_Time_Category v·∫´n l√† NaN (do Cycle Time g·ªëc l√† NaN)
missing_condition = (data_orders['is_finished'] == 1) & (data_orders['Cycle_Time_Category'].isnull())

# G√°n gi√° tr·ªã 'Missing Data' cho c√°c ƒë∆°n Finished b·ªã thi·∫øu Cycle Time
data_orders.loc[missing_condition, 'Cycle_Time_Category'] = 'Missing Data'

In [28]:
data_orders['order_delivery_cost'].fillna(fix_null, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_25700\2863223968.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_orders['order_delivery_cost'].fillna(fix_null, inplace=True)

In [70]:
data_orders[['order_id','store_id','channel_id','order_status']].head(20)

    order_id  store_id  channel_id order_status
0   68405119      3512           5     CANCELED
1   68405123      3512           5     CANCELED
2   68405206      3512           5     CANCELED
3   68405465      3401           5     CANCELED
4   68406064      3401           5     CANCELED
5   68408108       786           5     CANCELED
6   68408109      1125           5     CANCELED
7   68409030      1064          35     CANCELED
8   68410055      2181          35     FINISHED
9   68412121      1152           5     CANCELED
10  68412122       490           5     CANCELED
11  68412123       674           5     CANCELED
12  68412131       490           5     CANCELED
13  68412134       679           5     CANCELED
14  68412148       294           5     CANCELED
15  68412322       294           5     CANCELED
16  68412444       294           5     CANCELED
17  68412721       631           5     FINISHED
18  68413340       631           5     FINISHED
19  68414018      3265           5     FINISHED

In [29]:
dataframes['orders'] = data_orders

In [72]:
dataframes['orders'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368999 entries, 0 to 368998
Data columns (total 30 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   order_id                           368999 non-null  int64
 1   store_id                           368999 non-null  int64
 2   channel_id                         368999 non-null  int64
 3   order_status                       368999 non-null  object
 4   order_amount                       368999 non-null  float64
 5   order_delivery_fee                 368999 non-null  float64
 6   order_delivery_cost                368999 non-null  float64
 7   order_created_hour                 368999 non-null  int64
 8   order_created_minute               368999 non-null  int64
 9   order_created_day                  368999 non-null  int64
 10  order_created_month                368999 non-null  int64
 11  order_created_year                 368999 non-null  int64
 12  order_moment_created               368999 non-null  datetime64[ns]
 13  order_moment_accepted              359538 non-null  datetime64[ns]
 14  order_moment_ready                 343893 non-null  datetime64[ns]
 15  order_moment_collected             326105 non-null  datetime64[ns]
 16  order_moment_in_expedition         301570 non-null  datetime64[ns]
 17  order_moment_delivering            343683 non-null  datetime64[ns]
 18  order_moment_finished              353400 non-null  datetime64[ns]
 19  order_metric_collected_time        317507 non-null  float64
 20  order_metric_paused_time           297594 non-null  float64
 21  order_metric_production_time       343892 non-null  float64
 22  order_metric_walking_time          294943 non-null  float64
 23  order_metric_expediton_speed_time  334417 non-null  float64
 24  order_metric_transit_time          343142 non-null  float64
 25  order_metric_cycle_time            353380 non-null  float64
 26  is_finished                        368999 non-null  int64
 27  day_of_week_created                368999 non-null  object
 28  time_band_created                  368999 non-null  object
 29  Cycle_Time_Category                368999 non-null  object
dtypes: datetime64[ns](7), float64(10), int64(9), object(4)
memory usage: 84.5+ MB

## X·ª≠ l√Ω b·∫£ng "Channel"

In [73]:
data_channels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   channel_id    40 non-null     int64
 1   channel_name  40 non-null     object
 2   channel_type  40 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.1+ KB

In [74]:
data_channels.head(20)

    channel_id    channel_name channel_type
0            1     OTHER PLACE  OWN CHANNEL
1            2     PHONE PLACE  OWN CHANNEL
2            3     WHATS PLACE  OWN CHANNEL
3            4      FACE PLACE  OWN CHANNEL
4            5      FOOD PLACE  MARKETPLACE
5            6     STORE PLACE  OWN CHANNEL
6            7    BERLIN PLACE  OWN CHANNEL
7            8    MADRID PLACE  OWN CHANNEL
8            9     THINK PLACE  OWN CHANNEL
9           10    LISBON PLACE  OWN CHANNEL
10          11     SUPER PLACE  OWN CHANNEL
11          12       ALL PLACE  MARKETPLACE
12          13  VELOCITY PLACE  MARKETPLACE
13          15      EATS PLACE  MARKETPLACE
14          17     SHOPP PLACE  MARKETPLACE
15          20    MUNICH PLACE  MARKETPLACE
16          21    LONDON PLACE  MARKETPLACE
17          23    ATCHIN PLACE  MARKETPLACE
18          24      FULL PLACE  MARKETPLACE
19          25        ON PLACE  MARKETPLACE

- Ki·ªÉm tra NULL

In [75]:
data_channels.isnull().sum()

channel_id      0
channel_name    0
channel_type    0
dtype: int64

## X·ª≠ l√Ω b·∫£ng "Deliveries"

In [76]:
data_deliveries.head(10)

,delivery_id,delivery_order_id,driver_id,delivery_distance_meters,delivery_status
0,2174658,68413340,8378.0,5199.0,DELIVERED
1,2174660,68414309,2473.0,410.0,DELIVERED
2,2174661,68416230,7615.0,3784.0,DELIVERED
3,2174663,68412721,8378.0,5714.0,DELIVERED
4,2174675,68414018,10463.0,3746.0,DELIVERED
5,2174680,68415103,16430.0,3924.0,DELIVERED
6,2174693,68416643,14513.0,2489.0,DELIVERED
7,2174695,68417783,NaN,2564.0,CANCELLED
8,2174696,68415457,9996.0,340.0,DELIVERED
9,2174697,68414563,23092.0,1081.0,DELIVERED

In [77]:
data_deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378843 entries, 0 to 378842
Data columns (total 5 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   delivery_id               378843 non-null  int64
 1   delivery_order_id         378843 non-null  int64
 2   driver_id                 362957 non-null  float64
 3   delivery_distance_meters  378770 non-null  float64
 4   delivery_status           378843 non-null  object
dtypes: float64(2), int64(2), object(1)
memory usage: 14.5+ MB

* Ki·ªÉm tra gi√° tr·ªã null

In [78]:
data_deliveries.isnull().sum()

delivery_id                     0
delivery_order_id               0
driver_id                   15886
delivery_distance_meters       73
delivery_status                 0
dtype: int64

T√≠nh ph·∫ßn trƒÉm t·ªâ l·ªá d·ªØ li·ªáu thi·∫øu

In [79]:
missing_data_per_deliveries = (data_deliveries.isnull().sum() / len(data_deliveries)) * 100
print("------ T·ªâ l·ªá d·ªØ li·ªáu thi·∫øu ------")
print(missing_data_per_deliveries.sort_values(ascending=False))

------ T·ªâ l·ªá d·ªØ li·ªáu thi·∫øu ------
driver_id                   4.193294
delivery_distance_meters    0.019269
delivery_id                 0.000000
delivery_order_id           0.000000
delivery_status             0.000000
dtype: float64

In [80]:
data_deliveries[data_deliveries['delivery_status'] == "CANCELLED"].head(10)

,delivery_id,delivery_order_id,driver_id,delivery_distance_meters,delivery_status
7,2174695,68417783,NaN,2564.0,CANCELLED
63,2174845,68424547,NaN,2100.0,CANCELLED
79,2174883,68427057,NaN,2995.0,CANCELLED
149,2175046,68435678,NaN,3958.0,CANCELLED
306,2175468,68437922,NaN,5460.0,CANCELLED
314,2175489,68457422,NaN,530.0,CANCELLED
342,2175562,68460384,NaN,5574.0,CANCELLED
359,2175600,68460544,NaN,2769.0,CANCELLED
374,2175643,68463805,NaN,694.0,CANCELLED
436,2175776,68445199,NaN,4234.0,CANCELLED

- V√¨ trong b·∫£ng `deliveries` c√≥ t·ªìn t·∫°i kh√≥a ngo·∫°i `driver_id` ch·ª©a gi√° tr·ªã NULL, khi k·∫øt n·ªëi v·ªõi b·∫£ng Driver s·∫Ω x·∫£y ra l·ªói. Do ƒë√≥ ta s·∫Ω ƒëi·ªÅn gi√° tr·ªã placeholder ( nh∆∞ -1) v√† ch√®n th√™m 1 b·∫£ng ghi m·ªõi v·ªõi `driver_id =-1`
- ƒê·ªëi v·ªõi `delivery_distance_meters` th√¨ ƒëi·ªÅn gi√° tr·ªã trung v·ªã

In [81]:
data_deliveries['driver_id'].fillna(-1, inplace=True)
data_deliveries['delivery_distance_meters'] = data_deliveries['delivery_distance_meters'].fillna(data_deliveries['delivery_distance_meters'].median()).astype('int64')

C:\Users\PC\AppData\Local\Temp\ipykernel_11772\1151317886.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_deliveries['driver_id'].fillna(-1, inplace=True)

In [82]:
data_deliveries['driver_id'] = data_deliveries['driver_id'].astype(int)

In [83]:
dataframes['deliveries'] = data_deliveries

In [84]:
data_deliveries.head(10)

,delivery_id,delivery_order_id,driver_id,delivery_distance_meters,delivery_status
0,2174658,68413340,8378,5199,DELIVERED
1,2174660,68414309,2473,410,DELIVERED
2,2174661,68416230,7615,3784,DELIVERED
3,2174663,68412721,8378,5714,DELIVERED
4,2174675,68414018,10463,3746,DELIVERED
5,2174680,68415103,16430,3924,DELIVERED
6,2174693,68416643,14513,2489,DELIVERED
7,2174695,68417783,-1,2564,CANCELLED
8,2174696,68415457,9996,340,DELIVERED
9,2174697,68414563,23092,1081,DELIVERED

In [85]:
dataframes['deliveries'].head(10)

,delivery_id,delivery_order_id,driver_id,delivery_distance_meters,delivery_status
0,2174658,68413340,8378,5199,DELIVERED
1,2174660,68414309,2473,410,DELIVERED
2,2174661,68416230,7615,3784,DELIVERED
3,2174663,68412721,8378,5714,DELIVERED
4,2174675,68414018,10463,3746,DELIVERED
5,2174680,68415103,16430,3924,DELIVERED
6,2174693,68416643,14513,2489,DELIVERED
7,2174695,68417783,-1,2564,CANCELLED
8,2174696,68415457,9996,340,DELIVERED
9,2174697,68414563,23092,1081,DELIVERED

In [86]:
data_deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378843 entries, 0 to 378842
Data columns (total 5 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   delivery_id               378843 non-null  int64
 1   delivery_order_id         378843 non-null  int64
 2   driver_id                 378843 non-null  int64
 3   delivery_distance_meters  378843 non-null  int64
 4   delivery_status           378843 non-null  object
dtypes: int64(4), object(1)
memory usage: 14.5+ MB

In [87]:
data_deliveries.isnull().sum()

delivery_id                 0
delivery_order_id           0
driver_id                   0
delivery_distance_meters    0
delivery_status             0
dtype: int64

## X·ª≠ l√Ω b·∫£ng "Driver"

In [88]:
data_drivers.head(10)

   driver_id driver_modal        driver_type
0        133      MOTOBOY  LOGISTIC OPERATOR
1        138      MOTOBOY          FREELANCE
2        140      MOTOBOY          FREELANCE
3        143        BIKER          FREELANCE
4        148      MOTOBOY          FREELANCE
5        165      MOTOBOY          FREELANCE
6        172      MOTOBOY          FREELANCE
7        174        BIKER          FREELANCE
8        187        BIKER          FREELANCE
9        196        BIKER          FREELANCE

In [89]:
data_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4824 entries, 0 to 4823
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   driver_id     4824 non-null   int64
 1   driver_modal  4824 non-null   object
 2   driver_type   4824 non-null   object
dtypes: int64(1), object(2)
memory usage: 113.2+ KB

* Ki·ªÉm tra null

In [90]:
data_drivers.isnull().sum()

driver_id       0
driver_modal    0
driver_type     0
dtype: int64

* Th√™m m·ªôt b·∫£ng ghi v·ªõi `driver_id = -1`, `driver_modal = 'Unknown'`, `driver_type = 'Unknown'`,

In [91]:
# 1. ƒê·ªãnh nghƒ©a b·∫£n ghi 'Unknown' m·ªõi
new_unknown_driver = {
    'driver_id': -1,  # S·ª≠ d·ª•ng -1 l√†m ID cho t√†i x·∫ø kh√¥ng x√°c ƒë·ªãnh
    'driver_modal': 'N/A', 
    'driver_type': 'N/A',
    # Th√™m c√°c c·ªôt kh√°c c·ªßa b·∫£ng drivers v√† ƒëi·ªÅn gi√° tr·ªã 'N/A' ho·∫∑c 'Unknown'
}

# Chuy·ªÉn th√†nh DataFrame (c·∫ßn ƒë·∫£m b·∫£o c√°c t√™n c·ªôt kh·ªõp v·ªõi data_drivers)
new_driver_df = pd.DataFrame([new_unknown_driver])

# 2. Th√™m b·∫£n ghi n√†y v√†o b·∫£ng drivers g·ªëc
# S·ª≠ d·ª•ng pd.concat() ƒë·ªÉ th√™m h√†ng m·ªõi (t√†i x·∫ø -1) v√†o data_drivers
data_drivers = pd.concat([data_drivers, new_driver_df], ignore_index=True)
data_drivers.drop_duplicates(subset=['driver_id'], keep='first', inplace=True)
# Ki·ªÉm tra xem b·∫£n ghi -1 ƒë√£ t·ªìn t·∫°i ch∆∞a
print("\nKi·ªÉm tra b·∫£n ghi -1 trong data_drivers:")
print(data_drivers[data_drivers['driver_id'] == -1])

Ki·ªÉm tra b·∫£n ghi -1 trong data_drivers:
      driver_id driver_modal driver_type
4824         -1          N/A         N/A

In [92]:
data_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4825 entries, 0 to 4824
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   driver_id     4825 non-null   int64
 1   driver_modal  4825 non-null   object
 2   driver_type   4825 non-null   object
dtypes: int64(1), object(2)
memory usage: 113.2+ KB

In [93]:
data_drivers[data_drivers['driver_id'] == -1].head(10)

      driver_id driver_modal driver_type
4824         -1          N/A         N/A

In [94]:
dataframes['drivers'] = data_drivers

## X·ª≠ l√Ω b·∫£ng "Hubs

In [95]:
dataframes['hubs'].head(10)

,hub_id,hub_name,hub_city,hub_state,hub_latitude,hub_longitude
0,2,BLUE SHOPPING,PORTO ALEGRE,RS,-30.047415,-51.213510
1,3,GREEN SHOPPING,PORTO ALEGRE,RS,-30.037415,-51.203520
2,4,RED SHOPPING,PORTO ALEGRE,RS,-30.021948,-51.208382
3,5,FUNK SHOPPING,RIO DE JANEIRO,RJ,-23.000750,-43.318282
4,8,GOLDEN SHOPPING,RIO DE JANEIRO,RJ,-22.921475,-43.234774
5,13,HIP HOP SHOPPING,RIO DE JANEIRO,RJ,-22.885820,-43.279218
6,16,PEOPLE SHOPPING,RIO DE JANEIRO,RJ,-23.017472,-43.479939
7,17,SMALL SHOPPING,S√ÉO PAULO,SP,-23.592004,-46.636504
8,18,STAR SHOPPING,RIO DE JANEIRO,RJ,-22.945495,-43.182181
9,20,PURPLE SHOPPING,RIO DE JANEIRO,RJ,-22.996848,-43.359636

In [96]:
dataframes['hubs'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hub_id         32 non-null     int64
 1   hub_name       32 non-null     object
 2   hub_city       32 non-null     object
 3   hub_state      32 non-null     object
 4   hub_latitude   32 non-null     float64
 5   hub_longitude  32 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.6+ KB

## X·ª≠ l√Ω b·∫£ng Stores

In [97]:
data_stores = dataframes['stores']
data_stores.head(20)

,store_id,hub_id,store_name,store_segment,store_plan_price,store_latitude,store_longitude
0,3,2,CUMIURI,FOOD,0.0,NaN,NaN
1,6,3,PIMGUCIS DA VIVA,FOOD,0.0,-30.037415,-51.203520
2,8,3,RASMUR S,FOOD,0.0,-30.037415,-51.203520
3,53,8,PAPA SUCIS,FOOD,0.0,-22.921475,-43.234822
4,54,8,VUZPI PAZZIS,FOOD,0.0,-22.921475,-43.234822
5,56,8,SUPSIO,FOOD,49.0,-22.921475,-43.234822
6,58,8,PIAMUARIS,FOOD,49.0,-22.921475,-43.234822
7,82,8,LUCITA,FOOD,0.0,-22.921475,-43.234822
8,83,8,PRARIZZAI,FOOD,0.0,-22.921475,-43.234822
9,84,8,PALLO MZU GRALA,FOOD,49.0,-22.921475,-43.234822
10,85,8,PRISMAURAI,FOOD,0.0,-22.921475,-43.234822
11,88,8,EUGUSMI,GOOD,0.0,-22.921475,-43.234822
12,89,8,LIS URPIMIOUS,FOOD,49.0,-22.921475,-43.234822
13,90,8,CISI DA POI EU QUASI,FOOD,49.0,-22.921475,-43.234822
14,95,8,ARE TRAMUO,FOOD,49.0,-22.921475,-43.234822
15,96,5,PIRMI DA SIPIR,FOOD,0.0,-23.000750,-43.318364
16,99,8,SIRVUMU AMILAI,FOOD,0.0,-22.921475,-43.234822
17,100,8,LUPIMUIM,FOOD,49.9,-22.921475,-43.234822
18,122,4,MASUCIE,GOOD,0.0,NaN,NaN
19,141,8,RO PRISMAUS,FOOD,0.0,-22.921475,-43.234822

In [98]:
data_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951 entries, 0 to 950
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   store_id          951 non-null    int64
 1   hub_id            951 non-null    int64
 2   store_name        951 non-null    object
 3   store_segment     951 non-null    object
 4   store_plan_price  836 non-null    float64
 5   store_latitude    935 non-null    float64
 6   store_longitude   935 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 52.1+ KB

In [99]:
data_stores.isnull().sum()

store_id              0
hub_id                0
store_name            0
store_segment         0
store_plan_price    115
store_latitude       16
store_longitude      16
dtype: int64

In [100]:
data_stores[['store_id','store_plan_price','hub_id']][data_stores["store_plan_price"].isnull()].head(5)

    store_id  store_plan_price  hub_id
59       415               NaN       8
62       426               NaN      20
76       496               NaN      26
95       587               NaN       8
99       599               NaN      21

* X·ª≠ l√Ω NULL
  * ·ªû ƒë√¢y t·ªça ƒë·ªô c·ªßa m·ªôt s·ªë c·ªßa h√†ng b·ªã NULL, thay v√¨ x√≥a ƒëi th√¨ ta s·∫Ω join 2 b·∫£ng l√† `hubs` v√† `stores` l·∫°i v·ªõi nhau r·ªìi ƒëi·ªÅn NULL b·∫±ng t·ªça ƒë·ªô c·ªßa `hubs`
  * Nh·ªØng c·ª≠a h√†ng ch∆∞a c√≥ gi√° d·ª± b√°n th√¨ s·∫Ω ƒë·ªÉ b·∫±ng 0

In [101]:
data_hubs = dataframes['hubs']
data_stores = dataframes['stores']

df_hubs_coords = data_hubs[['hub_id', 'hub_latitude', 'hub_longitude']]


df_hubs_coords = df_hubs_coords.rename(columns={
    'hub_latitude': 'matched_latitude',
    'hub_longitude': 'matched_longitude'
})

# Th·ª±c hi·ªán Left Join (k·∫øt h·ª£p tr√°i)
# ƒêi·ªÅu n√†y gi·ªØ l·∫°i T·∫§T C·∫¢ c√°c h√†ng t·ª´ df_stores v√† th√™m t·ªça ƒë·ªô hub t∆∞∆°ng ·ª©ng.
df_merged = data_stores.merge(
    df_hubs_coords,
    on='hub_id',
    how='left'
)
df_merged.head(20)

,store_id,hub_id,store_name,store_segment,store_plan_price,store_latitude,store_longitude,matched_latitude,matched_longitude
0,3,2,CUMIURI,FOOD,0.0,NaN,NaN,-30.047415,-51.213510
1,6,3,PIMGUCIS DA VIVA,FOOD,0.0,-30.037415,-51.203520,-30.037415,-51.203520
2,8,3,RASMUR S,FOOD,0.0,-30.037415,-51.203520,-30.037415,-51.203520
3,53,8,PAPA SUCIS,FOOD,0.0,-22.921475,-43.234822,-22.921475,-43.234774
4,54,8,VUZPI PAZZIS,FOOD,0.0,-22.921475,-43.234822,-22.921475,-43.234774
5,56,8,SUPSIO,FOOD,49.0,-22.921475,-43.234822,-22.921475,-43.234774
6,58,8,PIAMUARIS,FOOD,49.0,-22.921475,-43.234822,-22.921475,-43.234774
7,82,8,LUCITA,FOOD,0.0,-22.921475,-43.234822,-22.921475,-43.234774
8,83,8,PRARIZZAI,FOOD,0.0,-22.921475,-43.234822,-22.921475,-43.234774
9,84,8,PALLO MZU GRALA,FOOD,49.0,-22.921475,-43.234822,-22.921475,-43.234774
10,85,8,PRISMAURAI,FOOD,0.0,-22.921475,-43.234822,-22.921475,-43.234774
11,88,8,EUGUSMI,GOOD,0.0,-22.921475,-43.234822,-22.921475,-43.234774
12,89,8,LIS URPIMIOUS,FOOD,49.0,-22.921475,-43.234822,-22.921475,-43.234774
13,90,8,CISI DA POI EU QUASI,FOOD,49.0,-22.921475,-43.234822,-22.921475,-43.234774
14,95,8,ARE TRAMUO,FOOD,49.0,-22.921475,-43.234822,-22.921475,-43.234774
15,96,5,PIRMI DA SIPIR,FOOD,0.0,-23.000750,-43.318364,-23.000750,-43.318282
16,99,8,SIRVUMU AMILAI,FOOD,0.0,-22.921475,-43.234822,-22.921475,-43.234774
17,100,8,LUPIMUIM,FOOD,49.9,-22.921475,-43.234822,-22.921475,-43.234774
18,122,4,MASUCIE,GOOD,0.0,NaN,NaN,-30.021948,-51.208382
19,141,8,RO PRISMAUS,FOOD,0.0,-22.921475,-43.234822,-22.921475,-43.234774

In [102]:

df_merged['store_latitude'] = df_merged['store_latitude'].fillna(
    df_merged['matched_latitude']
)
df_merged['store_longitude'] = df_merged['store_longitude'].fillna(
    df_merged['matched_longitude']
)
df_merged['store_plan_price'] = df_merged['store_plan_price'].fillna(0)
df_merged.drop(columns=['matched_latitude', 'matched_longitude'], inplace=True)
df_merged.head(20)

,store_id,hub_id,store_name,store_segment,store_plan_price,store_latitude,store_longitude
0,3,2,CUMIURI,FOOD,0.0,-30.047415,-51.213510
1,6,3,PIMGUCIS DA VIVA,FOOD,0.0,-30.037415,-51.203520
2,8,3,RASMUR S,FOOD,0.0,-30.037415,-51.203520
3,53,8,PAPA SUCIS,FOOD,0.0,-22.921475,-43.234822
4,54,8,VUZPI PAZZIS,FOOD,0.0,-22.921475,-43.234822
5,56,8,SUPSIO,FOOD,49.0,-22.921475,-43.234822
6,58,8,PIAMUARIS,FOOD,49.0,-22.921475,-43.234822
7,82,8,LUCITA,FOOD,0.0,-22.921475,-43.234822
8,83,8,PRARIZZAI,FOOD,0.0,-22.921475,-43.234822
9,84,8,PALLO MZU GRALA,FOOD,49.0,-22.921475,-43.234822
10,85,8,PRISMAURAI,FOOD,0.0,-22.921475,-43.234822
11,88,8,EUGUSMI,GOOD,0.0,-22.921475,-43.234822
12,89,8,LIS URPIMIOUS,FOOD,49.0,-22.921475,-43.234822
13,90,8,CISI DA POI EU QUASI,FOOD,49.0,-22.921475,-43.234822
14,95,8,ARE TRAMUO,FOOD,49.0,-22.921475,-43.234822
15,96,5,PIRMI DA SIPIR,FOOD,0.0,-23.000750,-43.318364
16,99,8,SIRVUMU AMILAI,FOOD,0.0,-22.921475,-43.234822
17,100,8,LUPIMUIM,FOOD,49.9,-22.921475,-43.234822
18,122,4,MASUCIE,GOOD,0.0,-30.021948,-51.208382
19,141,8,RO PRISMAUS,FOOD,0.0,-22.921475,-43.234822

In [103]:
df_merged[['store_id','store_plan_price','hub_id']][df_merged["store_id"].isin([415,426,496,587,599])].head(5)

    store_id  store_plan_price  hub_id
59       415               0.0       8
62       426               0.0      20
76       496               0.0      26
95       587               0.0       8
99       599               0.0      21

In [104]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951 entries, 0 to 950
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   store_id          951 non-null    int64
 1   hub_id            951 non-null    int64
 2   store_name        951 non-null    object
 3   store_segment     951 non-null    object
 4   store_plan_price  951 non-null    float64
 5   store_latitude    951 non-null    float64
 6   store_longitude   951 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 52.1+ KB

In [105]:
dataframes['stores'] = df_merged

## X·ª≠ l√Ω Payments

In [106]:
data_payments = dataframes['payments']

In [107]:
data_payments.head(10)

,payment_id,payment_order_id,payment_amount,payment_fee,payment_method,payment_status
0,4427917,68410055,118.44,0.00,VOUCHER,PAID
1,4427918,68410055,394.81,7.90,ONLINE,PAID
2,4427941,68412721,206.95,5.59,ONLINE,PAID
3,4427948,68413340,58.80,1.59,ONLINE,PAID
4,4427955,68414018,45.80,0.92,ONLINE,PAID
5,4427956,68414309,106.80,2.88,ONLINE,PAID
6,4427961,68414512,57.80,1.56,ONLINE,PAID
7,4427963,68414563,26.90,0.40,ONLINE,PAID
8,4427975,68415103,115.50,3.12,ONLINE,PAID
9,4427976,68415140,199.30,5.38,ONLINE,PAID

In [108]:
data_payments[data_payments["payment_method"].isnull()].head(10)

Empty DataFrame
Columns: [payment_id, payment_order_id, payment_amount, payment_fee, payment_method, payment_status]
Index: []

In [109]:
data_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400834 entries, 0 to 400833
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   payment_id        400834 non-null  int64
 1   payment_order_id  400834 non-null  int64
 2   payment_amount    400834 non-null  float64
 3   payment_fee       400659 non-null  float64
 4   payment_method    400834 non-null  object
 5   payment_status    400834 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 18.3+ MB

* Ki·ªÉm tra NULL

In [110]:
data_payments.isnull().sum()

payment_id            0
payment_order_id      0
payment_amount        0
payment_fee         175
payment_method        0
payment_status        0
dtype: int64

In [111]:
data_payments[['payment_id','payment_amount','payment_fee','payment_method','payment_status']][data_payments['payment_fee'].isnull() & (data_payments['payment_method'] != "ONLINE" ) ]

,payment_id,payment_amount,payment_fee,payment_method,payment_status
124607,4753892,185.1,NaN,CREDIT_STORE,PAID
189726,4926706,159.8,NaN,STORE_DIRECT_PAYMENT,PAID
231658,5036577,31.9,NaN,CREDIT,PAID
232098,5037651,184.6,NaN,DEBIT,PAID
245393,5070972,309.9,NaN,VOUCHER_DC,PAID
245394,5070975,309.9,NaN,VOUCHER_DC,PAID
246815,5074765,9.9,NaN,DEBIT,PAID
247418,5076402,114.8,NaN,DEBIT,PAID
248170,5078195,9.9,NaN,CREDIT,PAID
248967,5080212,199.6,NaN,CREDIT,PAID
251094,5085848,9.9,NaN,DEBIT,PAID
251354,5086541,89.6,NaN,DEBIT,PAID
251357,5086544,141.0,NaN,DEBIT,PAID
254563,5094659,9.9,NaN,DEBIT,PAID
255512,5097367,269.7,NaN,DEBIT,PAID
256468,5099982,9.9,NaN,CREDIT,PAID
258415,5104635,185.0,NaN,CREDIT,PAID
258433,5104674,142.9,NaN,CREDIT,PAID
258434,5104675,288.9,NaN,CREDIT,PAID
258435,5104676,539.5,NaN,CREDIT,PAID
258437,5104678,583.1,NaN,CREDIT,PAID
258438,5104679,204.4,NaN,DEBIT,PAID
258439,5104680,133.0,NaN,CREDIT,PAID
259668,5107798,9.9,NaN,DEBIT,PAID
260728,5110460,9.9,NaN,CREDIT,PAID
260844,5110770,159.9,NaN,DEBIT,PAID
261283,5111879,133.0,NaN,CREDIT,PAID
266969,5125786,9.9,NaN,CREDIT,CHARGEBACK
269777,5132878,212.1,NaN,CREDIT,PAID
270662,5135107,9.9,NaN,DEBIT,PAID
271894,5138221,9.9,NaN,DEBIT,PAID
272045,5138622,127.2,NaN,CREDIT,PAID
272854,5140657,130.0,NaN,CREDIT,PAID
273512,5142400,342.6,NaN,DEBIT,PAID
275385,5147549,9.9,NaN,CREDIT,PAID
275837,5149004,297.5,NaN,DEBIT,PAID
276228,5150094,133.0,NaN,DEBIT,PAID
281189,5162482,86.7,NaN,DEBIT,PAID
282039,5164601,184.4,NaN,CREDIT,PAID
282281,5165231,189.6,NaN,DEBIT,PAID
286127,5174936,64.9,NaN,STORE_DIRECT_PAYMENT,PAID
304609,5221313,104.7,NaN,CREDIT,PAID
307505,5228806,249.5,NaN,CREDIT,PAID
324111,5271550,49.7,NaN,CREDIT,PAID
335233,5299655,265.4,NaN,CREDIT,PAID
335234,5299656,79.8,NaN,DEBIT,PAID
340341,5313946,424.9,NaN,DEBIT,PAID
349536,5337923,59.7,NaN,CREDIT,PAID

* S·ª≠ d·ª•ng h·ªìi quy tuy·∫øn t√≠nh ƒë·ªÉ ƒëi·ªÅn c√°c gi√° tr·ªã NULL

In [112]:

data_train = data_payments[data_payments['payment_fee'].notna()].copy()
data_predict = data_payments[data_payments['payment_fee'].isna()].copy()
# X√°c ƒë·ªãnh c√°c bi·∫øn ƒë·ªôc l·∫≠p (features)
FEATURES = ['payment_amount', 'payment_method','payment_status']
TARGET = 'payment_fee'
X_train = data_train[FEATURES]
y_train = data_train[TARGET]
# One-Hot Encoding cho payment_method v√† payment_status
X_train_encoded = pd.get_dummies(X_train, columns=['payment_method','payment_status'], drop_first=True)
# L·∫•y danh s√°ch c·ªôt sau khi m√£ h√≥a ƒë·ªÉ ƒë·∫£m b·∫£o kh·ªõp v·ªõi t·∫≠p d·ª± ƒëo√°n
encoded_cols = X_train_encoded.columns
# Kh·ªüi t·∫°o m√¥ h√¨nh H·ªìi quy Tuy·∫øn t√≠nh
model = LinearRegression()
# Hu·∫•n luy·ªán m√¥ h√¨nh
model.fit(X_train_encoded, y_train)
print(f"\nƒê√£ hu·∫•n luy·ªán m√¥ h√¨nh H·ªìi quy Tuy·∫øn t√≠nh v·ªõi R^2 l√†: {model.score(X_train_encoded, y_train):.4f}")

ƒê√£ hu·∫•n luy·ªán m√¥ h√¨nh H·ªìi quy Tuy·∫øn t√≠nh v·ªõi R^2 l√†: 0.9695

In [113]:
# 1. L·∫•y features t·ª´ t·∫≠p d·ªØ li·ªáu c·∫ßn d·ª± ƒëo√°n
X_predict = data_predict[FEATURES]
X_predict_encoded = pd.get_dummies(X_predict, columns=['payment_method'], drop_first=True)
X_predict_final = pd.DataFrame(0, index=X_predict_encoded.index, columns=encoded_cols)
for col in X_predict_encoded.columns:
    if col in X_predict_final.columns:
        X_predict_final[col] = X_predict_encoded[col]

In [114]:
# 1. D·ª± ƒëo√°n payment_fee
predicted_fees = model.predict(X_predict_final)
predicted_fees[predicted_fees < 0] = 0.00 # ƒê·∫£m b·∫£o ph√≠ kh√¥ng √¢m (v√¨ ƒë√¢y l√† chi ph√≠)

# 2. ƒêi·ªÅn gi√° tr·ªã ƒë√£ d·ª± ƒëo√°n tr·ªü l·∫°i data_payments g·ªëc
data_payments.loc[data_predict.index, 'payment_fee'] = predicted_fees

In [115]:
data_payments['payment_fee'] = data_payments['payment_fee'].round(2)
data_payments[['payment_id','payment_amount','payment_fee','payment_method','payment_status']][data_payments['payment_id'].isin([4753892, 4926706, 5036577, 5037651, 5070972])]

,payment_id,payment_amount,payment_fee,payment_method,payment_status
124607,4753892,185.1,3.32,CREDIT_STORE,PAID
189726,4926706,159.8,3.07,STORE_DIRECT_PAYMENT,PAID
231658,5036577,31.9,0.27,CREDIT,PAID
232098,5037651,184.6,3.40,DEBIT,PAID
245393,5070972,309.9,5.29,VOUCHER_DC,PAID

In [116]:
data_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400834 entries, 0 to 400833
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   payment_id        400834 non-null  int64
 1   payment_order_id  400834 non-null  int64
 2   payment_amount    400834 non-null  float64
 3   payment_fee       400834 non-null  float64
 4   payment_method    400834 non-null  object
 5   payment_status    400834 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 18.3+ MB

In [ ]:
dataframes['payments'] = data_payments

---------

# Ki·ªÉm tra b·ªô d·ªØ li·ªáu l·∫ßn cu·ªëi

In [31]:
data = ['orders', 'deliveries', 'drivers', 'hubs', 'stores', 'payments', 'channels']
for d in data:
    print(f"\n--- Th√¥ng tin b·∫£ng '{d}' ---")
    dataframes[d].info()

--- Th√¥ng tin b·∫£ng 'orders' ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368999 entries, 0 to 368998
Data columns (total 30 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   order_id                           368999 non-null  int64
 1   store_id                           368999 non-null  int64
 2   channel_id                         368999 non-null  int64
 3   order_status                       368999 non-null  object
 4   order_amount                       368999 non-null  float64
 5   order_delivery_fee                 368999 non-null  float64
 6   order_delivery_cost                368999 non-null  float64
 7   order_created_hour                 368999 non-null  int64
 8   order_created_minute               368999 non-null  int64
 9   order_created_day                  368999 non-null  int64
 10  order_created_month                368999 non-null  int64
 11  order_created_year                 368999 non-null  int64
 12  order_moment_created               368999 non-null  datetime64[ns]
 13  order_moment_accepted              359538 non-null  datetime64[ns]
 14  order_moment_ready                 343893 non-null  datetime64[ns]
 15  order_moment_collected             326105 non-null  datetime64[ns]
 16  order_moment_in_expedition         301570 non-null  datetime64[ns]
 17  order_moment_delivering            343683 non-null  datetime64[ns]
 18  order_moment_finished              353400 non-null  datetime64[ns]
 19  order_metric_collected_time        317507 non-null  float64
 20  order_metric_paused_time           297594 non-null  float64
 21  order_metric_production_time       343892 non-null  float64
 22  order_metric_walking_time          294943 non-null  float64
 23  order_metric_expediton_speed_time  334417 non-null  float64
 24  order_metric_transit_time          343142 non-null  float64
 25  order_metric_cycle_time            353380 non-null  float64
 26  is_finished                        368999 non-null  int64
 27  day_of_week_created                368999 non-null  object
 28  time_band_created                  368999 non-null  object
 29  Cycle_Time_Category                368999 non-null  object
dtypes: datetime64[ns](7), float64(10), int64(9), object(4)
memory usage: 84.5+ MB

--- Th√¥ng tin b·∫£ng 'deliveries' ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378843 entries, 0 to 378842
Data columns (total 5 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   delivery_id               378843 non-null  int64
 1   delivery_order_id         378843 non-null  int64
 2   driver_id                 362957 non-null  float64
 3   delivery_distance_meters  378770 non-null  float64
 4   delivery_status           378843 non-null  object
dtypes: float64(2), int64(2), object(1)
memory usage: 14.5+ MB

--- Th√¥ng tin b·∫£ng 'drivers' ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4824 entries, 0 to 4823
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   driver_id     4824 non-null   int64
 1   driver_modal  4824 non-null   object
 2   driver_type   4824 non-null   object
dtypes: int64(1), object(2)
memory usage: 113.2+ KB

--- Th√¥ng tin b·∫£ng 'hubs' ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hub_id         32 non-null     int64
 1   hub_name       32 non-null     object
 2   hub_city       32 non-null     object
 3   hub_state      32 non-null     object
 4   hub_latitude   32 non-null     float64
 5   hub_longitude  32 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.6+ KB

--- Th√¥ng tin b·∫£ng 'stores' ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951 entries, 0 to 950
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   store_id          951 non-null    int64
 1   hub_id            951 non-null    int64
 2   store_name        951 non-null    object
 3   store_segment     951 non-null    object
 4   store_plan_price  836 non-null    float64
 5   store_latitude    935 non-null    float64
 6   store_longitude   935 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 52.1+ KB

--- Th√¥ng tin b·∫£ng 'payments' ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400834 entries, 0 to 400833
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   payment_id        400834 non-null  int64
 1   payment_order_id  400834 non-null  int64
 2   payment_amount    400834 non-null  float64
 3   payment_fee       400659 non-null  float64
 4   payment_method    400834 non-null  object
 5   payment_status    400834 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 18.3+ MB

--- Th√¥ng tin b·∫£ng 'channels' ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   channel_id    40 non-null     int64
 1   channel_name  40 non-null     object
 2   channel_type  40 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.1+ KB

# Xu·∫•t ra file csv

In [30]:

def export_all_dfs_to_csv(
    dataframes: Dict[str, pd.DataFrame],
    output_dir: str = 'exported_csv',
    index: bool = False
) -> None:
    """
    Xu·∫•t t·∫•t c·∫£ c√°c Pandas DataFrame trong dictionary ra c√°c t·ªáp CSV.

    Args:
        dataframes (Dict[str, pd.DataFrame]): Dictionary ch·ª©a t√™n (key) 
                                              v√† DataFrame (value) c·∫ßn xu·∫•t.
        output_dir (str): T√™n th∆∞ m·ª•c ƒë·ªÉ l∆∞u c√°c t·ªáp CSV. Th∆∞ m·ª•c s·∫Ω ƒë∆∞·ª£c t·∫°o
                          n·∫øu ch∆∞a t·ªìn t·∫°i. M·∫∑c ƒë·ªãnh l√† 'exported_csv'.
        index (bool): Li·ªáu c√≥ bao g·ªìm index (ch·ªâ m·ª•c) c·ªßa DataFrame trong t·ªáp CSV hay kh√¥ng.
                      M·∫∑c ƒë·ªãnh l√† False.
    """
    
    # 1. T·∫°o th∆∞ m·ª•c ƒë·∫ßu ra n·∫øu ch∆∞a t·ªìn t·∫°i
    if not os.path.exists(output_dir):
        os.makedirs(output_dir)
        print(f"üìÅ ƒê√£ t·∫°o th∆∞ m·ª•c: {output_dir}")

    # 2. L·∫∑p qua t·ª´ng DataFrame v√† l∆∞u
    for df_name, df in dataframes.items():
        # T·∫°o t√™n t·ªáp CSV: v√≠ d·ª• 'stores.csv'
        filename = f"{df_name}.csv"
        filepath = os.path.join(output_dir, filename)
        
        try:
            # S·ª≠ d·ª•ng ph∆∞∆°ng th·ª©c to_csv c·ªßa Pandas ƒë·ªÉ l∆∞u
            df.to_csv(filepath, index=index)
            print(f"‚úÖ ƒê√£ l∆∞u '{df_name}' v√†o: {filepath}")
            
        except Exception as e:
            print(f"‚ùå L·ªói khi l∆∞u DataFrame '{df_name}': {e}")
    
    print("\nüéâ Ho√†n t·∫•t qu√° tr√¨nh xu·∫•t CSV.")

In [33]:
all_dataframes = {
#     #"stores": dataframes['stores'],
#     #"hubs": dataframes['hubs'],
    "orders": dataframes['orders'] 
#     #"deliveries": dataframes['deliveries'],
#     #"drivers": dataframes['drivers'],
#     #"payments": dataframes['payments'],
#     #"channels": dataframes['channels']
}

export_all_dfs_to_csv(all_dataframes, output_dir='etl_output')

‚úÖ ƒê√£ l∆∞u 'orders' v√†o: etl_output\orders.csv

üéâ Ho√†n t·∫•t qu√° tr√¨nh xu·∫•t CSV.

# ƒê·∫©y l√™n MySQL

In [121]:

DB_HOST = '127.0.0.1' 
DB_USER = 'root' 
DB_PASSWORD = 'quangduc101112'
DB_NAME = 'ETL_python' 
# X√¢y d·ª±ng chu·ªói k·∫øt n·ªëi (Connection String)
connection_string = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}"
# T·∫°o Engine (c√¥ng c·ª• k·∫øt n·ªëi)
try:
    engine = create_engine(connection_string)
    print("K·∫øt n·ªëi MySQL Engine ƒë√£ ƒë∆∞·ª£c t·∫°o th√†nh c√¥ng.")
except Exception as e:
    print(f"L·ªói t·∫°o Engine: {e}")

K·∫øt n·ªëi MySQL Engine ƒë√£ ƒë∆∞·ª£c t·∫°o th√†nh c√¥ng.

In [ ]:

# # Th√¥ng tin k·∫øt n·ªëi MySQL c·ªßa b·∫°n
# DB_HOST = '127.0.0.1'  # V√≠ d·ª•: 'localhost' ho·∫∑c ƒë·ªãa ch·ªâ IP
# DB_USER = 'root'  # V√≠ d·ª•: 'root'
# DB_PASSWORD = 'quangduc101112'
# DB_NAME = 'raw' # V√≠ d·ª•: 'etl_project'

# # X√¢y d·ª±ng chu·ªói k·∫øt n·ªëi (Connection String)
# # S·ª≠ d·ª•ng 'mysql+pymysql'
# connection_string = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}"

# # T·∫°o Engine (c√¥ng c·ª• k·∫øt n·ªëi)
# try:
#     engine = create_engine(connection_string)
#     print("‚úÖ K·∫øt n·ªëi MySQL Engine ƒë√£ ƒë∆∞·ª£c t·∫°o th√†nh c√¥ng.")
# except Exception as e:
#     print(f"‚ùå L·ªói t·∫°o Engine: {e}")

‚úÖ K·∫øt n·ªëi MySQL Engine ƒë√£ ƒë∆∞·ª£c t·∫°o th√†nh c√¥ng.

In [123]:

for d in data:
    try:
        TABLE_NAME = d
        dataframes[d].to_sql(
            name=TABLE_NAME,
            con=engine,
            if_exists='replace',  # R·∫•t quan tr·ªçng:
        index=False
    )
        print(f"T·∫£i th√†nh c√¥ng l√™n b·∫£ng '{TABLE_NAME}'.")
    
    except Exception as e:
        print(f"L·ªói khi t·∫£i d·ªØ li·ªáu l√™n MySQL: {e}")

    finally:
        # ƒê√≥ng k·∫øt n·ªëi (r·∫•t quan tr·ªçng)
        engine.dispose()
        print("ƒê√£ ƒë√≥ng k·∫øt n·ªëi database.")

T·∫£i th√†nh c√¥ng l√™n b·∫£ng 'orders'.
ƒê√£ ƒë√≥ng k·∫øt n·ªëi database.
T·∫£i th√†nh c√¥ng l√™n b·∫£ng 'deliveries'.
ƒê√£ ƒë√≥ng k·∫øt n·ªëi database.
T·∫£i th√†nh c√¥ng l√™n b·∫£ng 'drivers'.
ƒê√£ ƒë√≥ng k·∫øt n·ªëi database.
T·∫£i th√†nh c√¥ng l√™n b·∫£ng 'hubs'.
ƒê√£ ƒë√≥ng k·∫øt n·ªëi database.
T·∫£i th√†nh c√¥ng l√™n b·∫£ng 'stores'.
ƒê√£ ƒë√≥ng k·∫øt n·ªëi database.
T·∫£i th√†nh c√¥ng l√™n b·∫£ng 'payments'.
ƒê√£ ƒë√≥ng k·∫øt n·ªëi database.
T·∫£i th√†nh c√¥ng l√™n b·∫£ng 'channels'.
ƒê√£ ƒë√≥ng k·∫øt n·ªëi database.